@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


/* font-family: 'Cairo', sans-serif; */

@font-face {
    font-family: 'Righteous';
    src: url('fonts/Righteous-Regular.ttf');
}


#font-testing{
    font-family: 'Cairo', sans-serif;
    color: black;
    /* letter-spacing: 2px;
    font-weight: 200; */
}

h3, p{
    font-family: 'Cairo', sans-serif;
}

p{
    line-height: 0.5;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
    /* font-size: 12px; */
}