/* body { padding: 10px;} */
/* START OF TITLE STYLE */
.atlas-title{
  text-align: center;
}

.atlas-title p{
  display:inline-block;
	font-size: 180%;
	font-weight: bold;
	/* text-align: center; */
}

.emptyspace{
	height: 50px;
}
/* END OF TITLE STYLE */

/* START OF PRINT BUTTON STYLE */
#printButton, #exportCitation{
  height: 20;
  width: 120;
  text-align: right;
  background-color: #d81b60;
  color: white;
  border-style: none;
  float: right;
}
/* END OF PRINT BUTTON STYLE */

/* START OF DROPDOWN STYLE */
.dropDown1{
  text-align: center;
  width: 100%;
}

.atlas-city1 select{
	width: 142px;
}

.dropDown2{
  text-align: center;
  width: 100%;
}

.atlas-city2 select{
	width: 142px;
}
/* END OF DROPDOWN STYLE */

/* START OF MAPBOX STYLE */
 #map1 { 
	display: block;
  width:95%; 
  height: 400px; 
  margin-left: 20px;
}


#map2 { 
	display: block;
	width:95%; 
  height: 400px; 
  /* margin-right: 20px; */
}

/* END OF MAPBOX STYLE */

/* START OF METRICS TABLES STYLE */
.vertical-spacing-50px{
	height: 50px;
}

.vertical-spacing-200px{
	height: 200px;
}
/* #general-metrics1, #general-metrics1{
  height: 400px;
} */

#city1table, #general-metrics1{
  display: block;
	position:absolute;
  font-family:sans-serif;  
  left: 0px; width:50%;
}

#city2table, #general-metrics2{
	display: block;
	position:absolute;
  font-family:sans-serif; 
  right: 0; width:50%;
}

#city1table, #city2table{
  font-size: 16px;
}



/* END OF METRICS TABLES STYLE */

/* START OF DIRECT/NODE TOGGLE STYLE*/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #d81b60;
}

input:focus + .slider {
  box-shadow: 0 0 1px #d81b60;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggleText{
	font-size: 12px;
	font-weight: bold;
}

/* END OF DIRECT/NODE TOGGLE STYLE*/

/* START OF MAP MENU AREA STYLE */
.group:before, .group:after{
content: "";
display: table;
}

.group:after{
	clear: both;
}

.group{
	zoom: 1;
}
/* END OF MAP MENU AREA STYLE */
